pre {
  padding: 1em;
  background: $code-background-color;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  line-height: 1.5;
  word-wrap: normal;
  margin-bottom: 1em;
}

code {
  border: none;
  border-style: none;
}